* {
    margin: 0;
    padding: 0;
}
body {
    height: 100%;
    min-height: 100vh;
    background-color: #ececec;
}

.flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-none-center {
    display: flex;
    align-items: center;
}

.flex-center-none {
    display: flex;
    justify-content: center;
}

/* Resaltos con cursor o demas */
.resalto-alto {
    padding: 5px;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}
.resalto-alto:hover {
    color: #004080;
    border-bottom: 2px solid #004080;
}
.resalto-alto:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 2px;
    height: 60%; 
    background: linear-gradient(to bottom, #004080, #00bfff);
    border-radius: 3px;
}