body {
    height: 100%;
    min-height: 100vh;
    background-color: #ececec;
}

.navbar-brand img {
    height: 40px;
    max-width: 100%;
    margin-right: 10px;
}

main {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 15% 85%;
    gap: 5px;
    margin: 10px 5%;
    /* background-color: aqua; */
}

/* Publicidad top bar */
.advertising-top {
    grid-column: span 1 / span 1;
    width: 100%;
    min-height: 100px;
    max-height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    margin: 10px 0;
}
.container-advertising {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 20px;
    max-width: 100vw;
}
.advertinsing-item-top {
    max-height: 150px;
    margin: 5PX;
}

/* Contenido principal del sitio */
.article-inicio {
    grid-column: span 1 / span 1;
    grid-row: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 2;

    width: 100%;
    height: 100%;
    padding: 10px;

    display: grid;
    grid-template-rows: auto;
    gap: 5px;
}

.recientes {
    grid-column: span 1 / span 1;
    grid-row-start: 1;

    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: auto;
    
    gap: 10px;
    padding: 10px;
    
    min-height: 250px;
    
    background-color: #fefefe;
    
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}
/* Estilo para la sección de la imagen */
.article-inicio .imagen-principal {
    width: 100%;
    height: auto;
    border-radius: 5px;
    overflow: hidden;
}
.article-inicio .imagen-principal img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

/* Contenedor del texto */
.article-inicio .texto-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    background-color: #c4c4c47f;
    border-radius: 10px;
}

.article-inicio .texto-principal h1 {
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.article-inicio .texto-principal p {
    font-size: 1rem;
    margin-bottom: 15px;
    color: #333;
}

.article-inicio .texto-principal .autor-tiempo {
    font-size: 0.9rem;
    color: #777;
    display: flex;
    gap: 5px;
    align-items: center;
}
/* Noticias secundarias */
.noticias-antiguas {
    grid-column: span 1 / span 1;
    grid-row-start: 2;
    padding-top: 10px;
}
.container-news{
    display: grid;
    grid-template-rows: repeat(3 , 1fr);
}
.categorias {
    display: flex;
}
.noticias {
    margin: 5px;
    background-color: #fefefe;
    display: flex;
    flex-direction: column;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    overflow: hidden;
}

.noticias img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.imagen {
    width: 100%;
}

.titulo-noticia {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
}
/* Fin Contenido principal del sitio */

/* Footer */
footer {
    
}
/* Fin Footer */

/* @media para pantallas pequeñas (por ejemplo, móviles) */
@media (max-width: 1000px) {

    .article-inicio .texto-principal {
        margin-top: 15px;
    }

    .article-inicio .texto-principal h1 {
        font-size: 1.5rem;
    }
}

/* @media para pantallas pequeñas (por ejemplo, móviles) */
@media (max-width: 768px) {
    .recientes {
        flex-direction: column;
        
    }
    
    .imagen-principal {
        width: 100%;
        margin: 0;
    }

    .article-inicio .texto-principal h1 {
        font-size: 1.8rem;
    }
}